:root{
   --color01: #0c2461; 
   --color02: #b71540;
   --color03: #0a3d62;
   --color04: #079992;
   --color05: #e58e26;
   --font01: 'Girassol', cursive;
   --font02: 'Open Sans', sans-serif;
   --font03: 'Poppins', sans-serif;
}