.main-bnt{
    background-color: var(--color03);
    display: block;
    line-height: 25px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    max-width: 170px;
   
}
.main-bnt .link{
    color: #fff;
    font-family: var(--font03);
    cursor: pointer;
}
.-projectbnt{
    margin: auto;
}