.main-container{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 0 2%;
}
.-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.-flexabout{
    align-items: flex-start;
    padding-top: 70px;
}
.-flexserice{
    display: flex;
    justify-content: space-evenly;
}
.-flexaservice{
    align-items: flex-start;
    justify-content: space-between;
}